  body {
    background-color: rgb(50, 53, 140); /* achtergrond kleur*/
  }
  
  h1 {
    color: black;
    margin-left: 20px;/* kleur van de tekst*/
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue; /* kleur van menu*/
  }
  
  li {
    float: left; /* waar de tekst staat*/
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* Ik heb een display toegevoegd en dat is nu mijn menu*/
  }
  
  li a:hover {
    background-color: rgb(128, 0, 23); /* kleur van de menu als je erop klikt dus als je naar kleurmodellen wilt en op de menu klikt komt er een kleur die */
  }






  .body2 {
    background-color:darkgoldenrod;
    color: aqua; /* kleur van kleurmoddelen actergrond */
}

.button {
  background-color: blue; /* de actergrond kleur van de button naar de speeltje*/
  border: none;
  color: black; /* tekst kleur van de button */
  padding: 15px 32px;
  text-align: center;  /* waar de knop zich moet bevinden */
  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;




.fotokleurmodellen{
float: right;
}





.fotobinar{
float: inline-end;
}
/* dat de foto naar de midden gaat*/
.uitlegfoto{
  float: center;
}

div.gallery { /*dit zorgt ervoor dat de plaatje naast elkaar staan*/
  margin: 20px; /*ruimte tussen pagina's*/
  float: left; /*plaatjes staan links van de pagina*/
  width: 350px; 
}

div.gallery img { 
  width: 100%;
  height: auto; }
/* een lijntje om de h1 teksten*/
h1{
  border-style: double;
  border-color: aliceblue;
  border-width: 8px;
}
/* een lijntje om de h2 teksten*/
h2{
  border-color: beige;
  border-style: dashed;
  border-width: 7px;
}









/* foto naaar rechts gedaan*/

.fotokleurmodellen{
  float: right;

}
/* foto naar de midden gedaan*/
.kleurmodellenfoto2{
  display: block;
  margin-left: auto;
  right: auto;

}
}
/* Alle tekst van H1 naar de midden gaat*/
h1{
  text-align: center;
}
/* tekst van h2 naar links gaat*/
h2{
  text-align: left;
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
/* achtergrond kleur van footer*/
.footer{
  background-color: aqua;
}