<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="Opmaak.css>
</head>
<body>

<h1>Welcome to The Real World</h1>
<p>What is the matrix.</p>
<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0
  padding: 0;
  overflow: hidden;
  background-color: Black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color:  ;
}
</style>
</head>
<body>

<h2>Welcome to The RealWorld</h2>
<p>want more information go to Matrix:</p>

<ul>
  <li><a href="index.html">Ecape</a></li>
  <li><a href="pagina.html">Adrew</a></li>
  <li><a href="kleurmodelen.html">Matrix</a></li>
  <li><a href="index.html">Real World</a></li>
</ul>

</body>
</html>

</body>
</html>